header{
    background-image: url(../images/header_720.jpg);
    background-repeat: no-repeat;
   background-size: cover;

}
nav{
    width: 80%;
    margin: 0 auto;
    
}
.menu-container{
    width: 300px;
float: right;
}
.menu-container>li{
    list-style-type: none;
   display: inline-block;
    margin-right: 30px;
}
.menu-container>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}
.schooled{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: white;
}
.category{
    margin: 0 auto;
    margin-right: 65px;
 text-align: center;
 
}
.category>li {
    color: #ffffff;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
   
}
.register{
    display: block;
    margin: 120px auto;
    padding: 15px;
    border-radius: 30px;
    border: 0px;
    color: #c271ff;
    font-weight: bold;
}
.learn{
    color: white;
    text-align: center;
    font-size: 25px;
}
.purple{
    color: #c271ff;
}
.students{
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.student{
    width: 24%;
     margin-top: 50px;
     float: left;
}
.section{
   background-color: #c271ff;
   overflow: hidden;
   width: 100%;
   height: 30%;
}
.photo{
    width: 12%;
    float: left;
    margin-right: 151px;
    margin-top: 57px;
    margin-bottom: 63px;
    margin-left: 91px;
}
.photo>img{
    display: block;
    float: right;
    margin-right: 30px;
}
.para{
    margin-right: 30px;
}
.paragraph{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-right: 30px;
}
.person-name{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;

}
.span2{
    font-size: 20px;
    color: white;

}
.populars {
    background-color: #FFFFFF;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.populars h1 {
    font-size: 32px;
    font-weight: bold;
}
.populars h1 span{
    font-weight: bold;
    color: #C271FF;
}

.popular_container {
    background-color: #fff;
    padding: 30px 20px;
    width: 1228px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 255px;
    height: 335px;
    margin: auto;
    position: relative;
}

.video .play {
    position: absolute;
    top: 45px;
    left: 90px;
}

.video h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 7px;
}

.video p {
    color: rgba(7, 22, 41, 0.5016);
    font-size: 14px;
    width: 242px;
    margin-bottom: 20px;
    margin-left: 7px;
}

.video .author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 7px;
}

.author h3 {
    color: rgba(194, 113, 255, 1);
    font-size: 14px;
}

.video .author img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%; 
}

.start {
    margin: 0 7px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.start p {
    position: absolute;
    left: 200px;
    color: #C271FF;
}

.smile{
    text-align: center;
}

main>section:nth-of-type(3) {
    background-color: #08023f;
    margin-bottom: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 50px;
}

.free-membership {
    display: inline-block;
    width: 22%;
    padding: 10px;
    color:#ffffff;
}
.FAQ {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.Lorem{
    margin-left: 80px;
}
.works{
   
}
.FAQ-item {
    width: 30%;
    float:left;
    margin-bottom: 30px;
    margin-right: 20%;
    margin-left: 30px;
}