header {
    background-image: url(../images/header_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    width: 80%;
    margin: 0 auto;

}

.menu-container {
    width: 300px;
    float: right;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}

.schooled {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: white;
}

.category {
    margin: 0 auto;
    margin-right: 65px;
    text-align: center;

}

.category>li {
    color: #ffffff;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;

}

.register {
    display: block;
    margin: 120px auto;
    padding: 15px;
    border-radius: 30px;
    border: 0px;
    color: #c271ff;
    font-weight: bold;
}

.learn {
    color: white;
    text-align: center;
    font-size: 25px;
}

.purple {
    color: #c271ff;
}

.students {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.student {
    width: 24%;
    margin-top: 50px;
    float: left;
}

.section1 {
    background-color: #c271ff;
    padding: 50px;
}

.weather {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.weather>div:first-of-type {
    float: left;
    width: 21%;

}

.weather>div:last-of-type {
    float: left;
    width: 60%;
    font-size: 21px;
    color: white;

}

.section2 {
    background-color: white;
}

.popular {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 67px;
    margin-top: 40px;
}

.purple {
    color: #c271ff;
}

.tutorials {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

.tutorial {
    width: 19%;
    float: left;
    margin: 30px;


}

.image-container {
    margin-bottom: 40px;
    margin: 0px;
}

.image-container>img {
    position: relative;

}

.play-icon {
    position: absolute;
    bottom: 120px;
    left: 91px;
}

.tutorial>h4 {
    margin-bottom: 40px;

}

.philip {
    overflow: hidden;
}

.philip>img {
    width: 30px;
}

.philip>span {
    float: right;
    margin-top: 6px;
    margin-right: 104px;
    font-size: 13px;
    color: #c271ff;

}

.star {
    overflow: hidden;
}

.star>ul>li {
    display: inline-block;
    list-style-type: none;
    /* float: left; */
    margin: 0;


    display: inline-block;

}

.min {
    color: #c271ff;
    float: right;


}

.section3 {
    background-color: blue;

}

.section3>h1 {
    text-align: center;
    margin-top: 30px;

}

.memberships {

    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.membership {
    float: left;
    width: 25%;
}

.membership>img {
    margin-right: 30px;
    margin: 0 auto;
}



.faq {
    width: 70%;
    margin: 0 auto;
}

.faq>h2 {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 50px;
}

.faq-container {
    display: inline-block;
    width: 49%;
}

.faq-container>h5,
.faq-container>p {
    margin: 30px 60px 30px 60px;
}

.faq-container>h5 {
    font-weight: bold;
}

.faq-container>p {
    color: #07162980;
    line-height: 1.5;
}

.footer {
    background-color: blue;
    width: 100%;
    overflow: hidden;
}

.facebook>ul {
    list-style-type: none;
    display: inline-block;
    width: 23%;
}

.facebook>ul>li> {
    display: inline-block;
    margin-bottom: 10px;
    margin: 10px;
}

.footer>img {
    margin-left: 152px;
    margin-top: 115px;

}


@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .menu-container {
        text-align: left;
        padding: 0px;
        float: none;
        width: 30px;
    }

    .schooled {
        font-size: 40px;
    }

    .students {
        width: 100%;

    }

    .student {
        width: 100%;
    }

    .section1 {
        padding: 0px;
    }

    .weather {
        width: 100%;
        margin: 0px;
    }



    .weather>div:first-of-type {
        width: 15%;
    }

    .weather>div:last-of-type {
        width: 85%;
    }

    .weather>div>img {
        width: 80px;
        height: 80px;
        margin-left: 106px;
    }

    .weather>div>p {
        font-size: 11px;
        margin-top: 88px;

    }

    .weather>div>h3 {
        font-size: 14px;
    }

    .tutorials {
        width: 100%;

    }

    .tutorial {
        width: 100%;

    }

    .tutorial>h4 {
        margin-bottom: 17px;

    }

    .min {
        margin-right: 132px;

    }

    .span1 {
        margin-right: 132px;

    }

    .philip>span {
        margin-right: 184px;

    }

    .memberships {
        width: 100%;
    }

    .membership {
        width: 100%;
        margin-left: 40px;
    }

    .membership>img {
        margin-left: 79px;
    }

    .membership>h3 {
        margin-left: 55px;
    }

    .faq {
        width: 100%;

    }

    .faq>h2 {
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .faq-container {
        width: 100%;
        text-align: center;
    }

    .faq-container>p {
        text-align: center;

    }

    .footer {
        width: 100%;
    }

    .footer>div>img {
        margin-left: 62px;
    }

    .facebook>ul>li {
        margin-left: 85px;
        width: 55%;


    }

}